page-dashboard {
  .col-dashboard {
    margin: 8%;
    padding: 8% 4%;
    background: color($colors, light);
  }
  .col-dashboard span {
    text-align: center;
    color: color($colors,secondary);
    margin-left: 40%;
  }
  .col-dashboard .label {
    color: #928de3;
    margin: 0;

  }
}
