<div class="{{global.state['theme']}}">
  <!--Default Menu-->
  <!-- <ion-menu [content]="content" id="menu-components">
    <ion-header>
      <ion-toolbar>
        <ion-title>Home</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" [class.highlight]="p.active" (click)="openPage(p)">
        {{p.title}}
      </button>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  <!--Side Menu with avatar-->

  <!--Right side menu-->
  <!-- <ion-menu side="right" type="push" [content]="content" id="menu-right">
    <ion-content>
      <ion-list no-lines>
        <button menuClose icon-only ion-item detail-none (click)="rightMenuClick(item)" *ngFor="let item of rightMenuItems; let i = index">
          <div *ngIf="item.active" class="active-menu-item"></div>
          <ion-icon [name]="item.icon"></ion-icon>
        </button>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  <!--Material Design Menu-->
  <ion-menu [content]="content" id="menu-material">
    <ion-content>
      <div class="menu-header">
        <!--material-design-background-->
        <img class="user-avatar round" style="height:80px;max-width:80px;" [src]="chosenPicture || placeholder" onerror="this.src='assets/img/avatar/girl-avatar.png'"
        />
        <div class="profile">
        <p class="name">Ajay Senguptha</p>
        <!-- <p class="e-mail">opensourcetechnologies.com</p> -->
        <p class="point">90 Points</p>
        <button type="button" class="profilebutton">Start</button>
        </div>
      </div>
      <ion-list no-lines>
        <button menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
        {{p.title}}
      </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--Dark Design Menu-->
  <!-- <ion-menu [content]="content" id="menu-dark">
    <ion-header class="sidemenuHeader">
      <ion-toolbar>
        <ion-item no-lines>
          <ion-avatar item-left>
            <h2>G</h2>
          </ion-avatar>
          <h2>Hello,Guest</h2>
          <p>Welcome to Opensource Technologies!</p>
        </ion-item>
      </ion-toolbar>
    </ion-header>


    <ion-content class="menu">
      <ion-list>
        <button menuClose="left" ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>  {{p.title}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-footer>

    <ion-toolbar>
      <ion-tabs>
        <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
        <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
  <ion-nav [root]="rootPage" type="menu-material" #content swipeBackEnabled="false"></ion-nav>


</div>
