page-vechiles {


  .card-label {
    color: #c0c0c0;
    margin: 1px;
  }
  .card-text {
    color: #464646;
    margin-top: 10%;
  }
  .card-div {
    margin-left: 4%;
    margin-top: 4%;
  }
  .card-arrow {
    margin-left: 14%;
    padding-top: 33px;
  }
  .card-label-a {
    color: #7d7d7d;
  }
  .no-padding{
    padding:0 5px;
  }

}
